html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
a {
	background-color: transparent;
}
img {
	border-style: none;
}
button,
input,
select {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button {
	-webkit-appearance: button;
}
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
[hidden] {
	display: none;
}
