*,
::after,
::before {
  box-sizing: border-box;
}
::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}
html {
  cursor: default;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}
body,
button,
input,
select {
  margin: 0;
}
a {
  background-color: transparent;
}
img,
svg {
  vertical-align: middle;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button {
  -webkit-appearance: button;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
[tabindex],
a,
button,
input,
select {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
[hidden] {
  display: none;
}
[disabled] {
  cursor: not-allowed;
}
