html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  cursor: default;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}

body,
button,
input,
select {
  margin: 0;
}

a {
  background-color: transparent;
}

img,
svg {
  vertical-align: middle;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  -webkit-appearance: button;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

[tabindex],
a,
button,
input,
select {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden] {
  display: none;
}

[disabled] {
  cursor: not-allowed;
}

html {
  font-family: "Segoe UI", sans-serif;
  background: #15202b;
  color: white;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  user-select: none;
}

body {
  padding: 1%;
}

@media (min-width: 0px) {
  :root {
    --sidebar-flex: 0 0 100%;
    --main-flex: 0 0 100%;
    --padding-horizontal: 0;
    --padding-vertical: 0.5%;
  }
}
@media (min-width: 768px) {
  :root {
    --sidebar-flex: 0 0 32%;
    --main-flex: 0 0 68%;
    --padding-horizontal: 0.5%;
    --padding-vertical: 0;
  }
}
@media (min-width: 992px) {
  :root {
    --sidebar-flex: 0 0 25%;
    --main-flex: 0 0 75%;
  }
}
@media (min-width: 1200px) {
  :root {
    --sidebar-flex: 0 0 20%;
    --main-flex: 0 0 80%;
  }
}
.outer-sidebar {
  flex: var(--sidebar-flex);
  padding-right: var(--padding-horizontal);
  padding-bottom: var(--padding-vertical);
}
.outer-sidebar .sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border: 1.5px solid white;
  border-radius: 4px;
}
.outer-sidebar .row {
  cursor: pointer;
}
.outer-sidebar .row:hover {
  text-decoration: underline;
  color: #999999;
}
.outer-sidebar .row[data-removed=false] {
  color: #2ecc40;
}
.outer-sidebar .row[data-removed=true] {
  color: #ff4136;
}

h3,
h2 {
  font-weight: 300;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.64rem;
}

input,
button,
select {
  background: none;
  box-shadow: none;
  border: 1.5px solid white;
  color: inherit;
  border-radius: 2px;
  padding: 5px 15px;
  width: 220px;
  max-width: 100%;
  min-width: max-content;
  outline: none;
}
input:disabled,
button:disabled,
select:disabled {
  color: #999999;
  border-color: #999999;
}

button,
select {
  width: auto;
}
button:enabled,
select:enabled {
  cursor: pointer;
}

input[type=file] {
  border: none;
  padding: 0;
  border-radius: 0;
}

.svg-icon-x {
  margin-left: 5px;
  height: 1em;
  width: 1em;
  cursor: pointer;
}
.svg-icon-x[data-svg-type=clear], .svg-icon-x[data-svg-type=del-icon] {
  color: #ff4136;
}
.svg-icon-x[data-svg-type=del-icon] {
  margin-left: 0;
  margin-right: 5px;
}
.svg-icon-x[data-svg-type=close] {
  color: #111;
  grid-column-start: 3;
  grid-row-start: 1;
  margin-left: auto;
}

.btn-save {
  margin-top: 10px;
  display: block;
}

.icon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}
.icon:not(span) {
  fill: white;
  stroke: white;
  -moz-context-properties: fill, stroke;
}

span.icon {
  display: inline-block;
}

.outer-main {
  flex: var(--main-flex);
  padding-left: var(--padding-horizontal);
  padding-top: var(--padding-vertical);
}

.main {
  padding: 1.25rem 2.25rem;
  border: 1.5px solid white;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
}

.outer-notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.outer-notification,
.notification-string {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-notification {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  justify-items: center;
  width: 375px;
  height: 300px;
  max-height: 90vh;
  max-width: 90vw;
  background: white;
  border: #ddd solid 2px;
  border-radius: 4px;
  padding: 1em;
  margin-top: 10vh;
}

.notification-string {
  grid-area: 2/2/3/3;
  text-align: center;
  color: #111;
}

[data-blur=true] {
  filter: blur(4px);
}

/*# sourceMappingURL=style.css.map */
