* {
    user-select: none;
	background-color: #14232c;
}
.number,
.text {
    font-family: montserrat;
    position: relative;
    text-align: center;
}
h1.number {
	height: 100px;
	line-height: 100px;
    font-size: 100px;
    color: #fab94b;
	border: 2px dashed #fab94b;
}
h2.number {
	font-size: 30px;
    color: #fab94b;
	height: 50px;
	line-height: 50px;
	border: 2px dashed #fab94b;
}
div {
    position: relative;
	height:100%;
	width:100%;
}
span.text {
	font-size: 30px;
	color: #fab94b;
	top: -20%;
}