@use 'sass:color';
@use 'sass:math';

$red: #dc3545;
$green: #198754;
$black: #111;

$background-color: #171717;
$secondary-background-color: #202020;

$text: #f0f6fc;
$font-size: 20px;
$line-height: math.div($font-size, 2) * 3;

$border-color: #30363d;
$border-style: 2px solid;
$border-radius: 2px;

@use './components/suggestions-popup' with (
	$secondary-background-color: $secondary-background-color,
	$border-color: $border-color,
	$border-style: $border-style,
	$border-radius: $border-radius
);

@use './components/logged-out' with (
	$secondary-background-color: $secondary-background-color,
	$border-color: $border-color,
	$border-style: $border-style,
	$border-radius: $border-radius,
	$text: $text
);

@use './components/button-grid' with (
	$text: $text,
	$border-color: $border-color,
	$border-style: $border-style
);

@import '../shared/styles/reset';

body {
	padding-top: 0.3em;
	width: 100%;
	min-height: 100vh;
	font: $font-size sans-serif;
	color: $text;
	background-color: $background-color;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	// width: max-content;
	// min-width: 60%;
	width: 70%;
}

.main-table {
	width: 100%;
	margin-top: 0.5em;
}

.table-cell.remove-row {
	color: $text;
}

.table-row {
	display: flex;
	width: 100%;
	// align-items: center;
	margin-bottom: 0.3em;
}

.table-cell {
	width: 50%;
	padding: 0.3em 1em;
	box-sizing: border-box;
	border: $border-style $border-color;
	// flex: 1 1 0;
	// border-radius: $border-radius;

	input {
		border: none;
		background: none;
		outline: none;
		font: inherit;
		color: inherit;

		&.invalid-input {
			color: $red;
		}
	}

	&.time {
		/* because this way the time inputs
    are as wide as possible */
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
		align-items: center;
		justify-content: center;
	}

	&.content {
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		display: flex;
		width: 50%;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		> * {
			width: 100%;
		}
	}

	&.remove-row {
		width: 1.5em;
		// height: 1.5em;
		border: none;
		cursor: pointer;
		padding-left: 0;
		padding-right: 0;

		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.time-input {
	margin-left: 0.5em;
	margin-right: 0.5em;

	&.time-from {
		text-align: right;
	}

	&.time-to {
		text-align: left;
	}
}

.icon-add-row {
	width: 1.5em;
	height: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-right: 1.5em; // width of remove row buttons
}

.row-icon-add-row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 1em;
}

.save-failed,
.save-successful {
	animation: 3s ease-in-out save-animation;
}

.save-failed {
	--color: #{$red};
}

.save-successful {
	--color: #{$green};
}

@keyframes save-animation {
	from {
		border-color: var(--color);
	}

	to {
		border-color: $border-color;
	}
}
