.tt-title {
  font-size: large;
  font-weight: 450;
  margin-bottom: 10px;
}
.tt-table {
  font-size: large;
}
.tt-tr {
  display: flex;

  > * {
    flex: 0 0 50%;
  }
}
.tt-th {
  font-weight: 450;
}
