.dcc {
  .vertical-horizontal-center {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
  .card {
    pointer-events: auto;
  }
}
