@use 'sass:math';

div.folders-inline-icon {
  cursor: pointer;
  user-select: none;
}
div.folders-inline-icon-div {
  display: inline;
}
li.activity.folder > ul > li > ul li {
  margin-left: 24px;
}
