@use 'sass:math';

div.folders-inline-icon {
	cursor: pointer;
	user-select: none;
}
div.folders-inline-icon-div {
	display: inline;
}
.folder-parent li {
	margin-left: 24px;
	padding-left: none;
}

.folder-loading {
	// 1rem from ul, 24px from li
	margin-left: calc(1rem + 24px);

	&::after {
		content: '';

		animation: folder-loading-dots 0.6s infinite linear alternate;
	}
}

@keyframes folder-loading-dots {
	0% {
		content: '';
	}
	33% {
		content: '.';
	}
	67% {
		content: '..';
	}
	100% {
		content: '...';
	}
}
