*,
::after,
::before {
	box-sizing: border-box;
}
::after,
::before {
	text-decoration: inherit;
	vertical-align: inherit;
}
html {
	cursor: default;
	line-height: 1.5;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	word-break: break-word;
}
body,
button,
input {
	margin: 0;
}
svg {
	vertical-align: middle;
}
svg:not([fill]) {
	fill: currentColor;
}
svg:not(:root) {
	overflow: hidden;
}
button {
	-webkit-appearance: button;
}
input {
	overflow: visible;
}
button {
	text-transform: none;
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
:-moz-focusring {
	outline: 1px dotted ButtonText;
}
button,
input {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
