@import 'normalize';
@import 'sanitize';

$background: #202020;
$secondary-background: #141414;
$border: 1.5px solid #343434;
$text: #ccc;
$border-radius: 4px;
$red: #dc3545;
$green: #198754;

@mixin media($min-width) {
  @media (min-width: $min-width) {
    :root {
      @content;
    }
  }
}

html {
  background: $background;
  color: $text;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; // copied from moodle
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;

  user-select: none;
}
body {
  padding: 1%;
}

@include media(0px) {
  --sidebar-flex: 0 0 100%;
  --main-flex: 0 0 100%;
  --padding-horizontal: 0;
  --padding-vertical: 0.5%;
}
@include media(768px) {
  --sidebar-flex: 0 0 32%;
  --main-flex: 0 0 68%;
  --padding-horizontal: 0.5%;
  --padding-vertical: 0;
}

@include media(992px) {
  --sidebar-flex: 0 0 25%;
  --main-flex: 0 0 75%;
}
@include media(1200px) {
  --sidebar-flex: 0 0 20%;
  --main-flex: 0 0 80%;
}

.outer-sidebar {
  flex: var(--sidebar-flex);
  padding-right: var(--padding-horizontal);
  padding-bottom: var(--padding-vertical);

  .sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border: $border;
    border-radius: $border-radius;
    background-color: $secondary-background;
  }

  .row {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $green;

    &:hover {
      text-decoration: underline;
    }

    &.removed {
      color: $red;
    }
  }
}
.btn-save {
  &:not([disabled]) {
    cursor: pointer;
  }
}

h5 {
  font-size: 18.75px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 12px;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}

.section-title {
  font-size: 30px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.svg-icon-check {
  color: $green;
}
.svg-icon-x {
  color: $red;
}

.outer-main {
  flex: var(--main-flex);
  padding-left: var(--padding-horizontal);
  padding-top: var(--padding-vertical);
}
.main {
  padding: 3% 2% 5% 2%;
  border: $border;
  border-radius: $border-radius;
  background-color: $secondary-background;
}

.replace-flex-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  * {
    align-self: flex-start;
    margin-bottom: 10px;
  }
}

input,
button {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #8f959e;
  border-radius: 0.25rem;
}
button {
  text-align: center;
}
button {
  background-color: #1177d1;
  color: $text;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
}
