html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

img {
  border-style: none;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

*,
::after,
::before {
  box-sizing: border-box;
}

::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  cursor: default;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}

body,
button,
input {
  margin: 0;
}

svg {
  vertical-align: middle;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  -webkit-appearance: button;
}

input {
  overflow: visible;
}

button {
  text-transform: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button,
input {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html {
  background: #15202b;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  user-select: none;
}

body {
  padding: 1%;
}

@media (min-width: 0px) {
  :root {
    --sidebar-flex: 0 0 100%;
    --main-flex: 0 0 100%;
    --padding-horizontal: 0;
    --padding-vertical: 0.5%;
  }
}
@media (min-width: 768px) {
  :root {
    --sidebar-flex: 0 0 32%;
    --main-flex: 0 0 68%;
    --padding-horizontal: 0.5%;
    --padding-vertical: 0;
  }
}
@media (min-width: 992px) {
  :root {
    --sidebar-flex: 0 0 25%;
    --main-flex: 0 0 75%;
  }
}
@media (min-width: 1200px) {
  :root {
    --sidebar-flex: 0 0 20%;
    --main-flex: 0 0 80%;
  }
}
.outerSidebar {
  flex: var(--sidebar-flex);
  padding-right: var(--padding-horizontal);
  padding-bottom: var(--padding-vertical);
}
.outerSidebar .sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border: 1.5px solid white;
  border-radius: 4px;
}
.outerSidebar .row {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #2ecc40;
}
.outerSidebar .row:hover {
  text-decoration: underline;
}
.outerSidebar .row.removed {
  color: #ff4136;
}

.btn-save {
  outline: none;
  border: 1.5px solid white;
  background: none;
  color: inherit;
  padding: 5px 15px;
  border-radius: 2px;
  font-size: 1.05em;
}
.btn-save:not([disabled]) {
  cursor: pointer;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}

.section-title {
  font-size: 30px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.svg-icon-check {
  color: #2ecc40;
}

.svg-icon-x {
  color: #ff4136;
}

.outerMain {
  flex: var(--main-flex);
  padding-left: var(--padding-horizontal);
  padding-top: var(--padding-vertical);
}

.main {
  padding: 3% 2% 5% 2%;
  border: 1.5px solid white;
  border-radius: 4px;
}

.replace-flex-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.replace-flex-inputs * {
  align-self: flex-start;
  margin-bottom: 10px;
}

.replace-input {
  background: none;
  box-shadow: none;
  border: 1.5px solid white;
  color: inherit;
  border-radius: 2px;
  padding: 5px 15px;
  width: 220px;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
}

/*# sourceMappingURL=style.css.map */
