@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf");
}
@media (min-width: 801px){
    button{
        font-size: 1.2em
    }
}
@media (max-width: 800px){
    button {
        font-size: 2em;
    }
}
* {
    font-family: Montserrat;
    user-select: none;
}
html {
    background-color: #708090;
    color: white;
    font-size: 1.5em;
}
.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: center;
}
.inline {
    display: inline;
}
button {
    background-color: transparent;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10% 10%;
    width: 50%;
    max-width: 50%;
    font-size: 200%;
}
#buttons{
    width: 100%;
    display:flex;
    align-items: center;
}
#number{
    font-size: 3em;
}
.topRight {
    position: absolute;
    margin:10px;
}
#reset {
    position: relative;
    top: -192px;
}
.version {
    position: absolute;
    bottom: 0;
    margin: 5px;
    font-size: medium;
}