html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    color: black;
}
input {
    outline: none;
    margin-bottom: 2px;
    margin-top: 2px;
    color: black;
    background-color: transparent;
    padding: 0.15em 0.3em;
    
    border: none;
    border-bottom: 1px solid #444;
    border-radius: 0;
    cursor: text;
}
@keyframes rainbow_animation {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
@keyframes rainbow_animation2 {
    0% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}
.rainbow,
.rainbow2 {
    background: linear-gradient(to right, #66f, #09f , #0f0, #f39, #66f);
    width: 100%;
    height: 27.6px;
    position: relative;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.rainbow {
    animation-name: rainbow_animation;
    top: -27.6px;
}
.rainbow2 {
    animation-name: rainbow_animation2;
    top: -55.2px;
}
.rainbowText {
    background-color: white;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    width: 100%;
    mix-blend-mode: screen;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}
.row {
    margin: 1em 0;
}
.block {
    display: block;
}
.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    background-color: white;
    border-radius: 3px;
    border: 3px solid #3c79b2;
    padding-right: 5%;
    padding-left: 5%;
}
.flex {
    display: flex;
    flex-direction: column;
}
.rainbowTextOuter {
    margin-bottom: -55.2px;
    overflow: hidden;
}