:root {
  --red: #d9534f;
  --blue: #428bca;
  --light-blue: #83adb5;
}

input,
button {
  outline: none;
  border-radius: 2px;
}
input,
.text {
  background-color: transparent;
  color: var(--blue);
  padding: 3px;
}
input,
.text,
button {
  text-align: center;
  margin-bottom: 10px;
  font-size: larger;
  font-family: sans-serif;
  width: 100%;
}
input {
  border: none;
  border-bottom: 2px solid var(--blue);
}
button {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 5px;
}
.text {
  word-wrap: normal;
}

input:invalid {
  box-shadow: none;
}
input.invalid {
  border-color: var(--red);
}

html {
  background-color: var(--light-blue);
}

.center {
  --w: 300px;
  --h: max-content;
  width: max-content;
  height: max-content;
  border: 2px solid var(--blue);
  background-color: whitesmoke;
  border-radius: 2px;
}
.padding {
  padding: 12px;
}
.outer-outer {
  display: fixed;
  top: 0;
  left: 0;
}
.inner-outer,
.outer-outer {
  display: table;
  height: 100%;
  width: 100%;
}
.inner-middle,
.outer-middle {
  display: table-cell;
  vertical-align: middle;
}
.inner-middle {
  max-width: 300px;
}
.outer-inner {
  margin-left: auto;
  margin-right: auto;
}
