body {
    font-family: 'Calibri';
}
table,
td,
th {
    border: 2px solid black;
}
button {
    margin-top: 3px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
}
textarea {
    width: 300px;
    height: 150px;
    border-radius: 2px;
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 50%;
    table-layout: fixed;
}
td {
    text-align: center;
    outline: none;
}
.inline {
    display: inline;
}
.block{
    display: block;
}
.marginBottom {
    margin-bottom: 10px;
}
.marginTop {
    margin-top: 10px;
}
input[type="number"] {
    margin-left: 2em;
}