body {
    background-color: white;
    color: #454545;
    font-family: sans-serif;
    padding: 20px 7%;
}
label {
    display: inline-block;
    min-width: 150px;
}
.divInput {
    margin-top: 10px;
    margin-bottom: 10px;
}
.outerInput {
    display: table;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.middleInput {
    display: table-cell;
    vertical-align: middle;
}
.innerInput {
    padding: 5px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
input {
    border-radius: 2px;
    border: 1px solid #454545;
    padding: 1px 3px;
}
.outerInput,
.td,
.th,
button,
textarea {
    border: 2px solid #454545;
}
button,
input,
textarea {
    background-color: transparent;
}
:active,
:focus {
    outline: none;
}
textarea {
    width: 400px;
    height: 200px;
}
.marginTop {
    margin-top: 10px;
}
.table {
    display: table;
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.thead {
    display: table-header-group;
    width: 100%;
}
.tbody {
    display: table-row-group;
}
.row {
    display: table-row;
}
.td,
.th {
    display: table-cell;
    padding: 3px;
    word-wrap: break-word;
}
.time {
    margin-top: 3px;
    margin-bottom: 3px;
}
button {
    padding: 5px 25px;
    min-width: 200px;
}
button:first-child {
    margin-bottom: 2px;
}
button:last-child {
    margin-top: 2px;
}
button:hover {
    filter: brightness(1.5);
}
.buttonParent {
    display: grid;
}
.saved {
    animation: fade_green 2s;
}
@keyframes fade_green {
    0% {
        color: green;
        border-color: green;
    }
    50% {
        color: green;
        border-color: green;
    }
    75% {
        color: green;
        border-color: green;
    }
    100% {
        color: initial;
        border-color: initial;
    }
}
textarea {
    resize: none;
    border-width: 1px;
    border-radius: 2px;
    padding: 1px 3px;
}