* {
    user-select: none;
	/* background-color: #14232c; */
	/* background-color: #fff; */
}
div {
    position: relative;
	height:100%;
	width:100%;	
    text-align: center;
}
body {
	background-color: #708090;
}
.number,
.text {
    font-family: montserrat;
    position: relative;
}
h1.number {
	line-height: 50px;
    font-size: 100px;
    color: white; 
	font-weight: 500;
}
.record{
	font-size: 30px;
	font-family: montserrat;
	color: white;
	position: fixed;
	text-align: right;
}
h3.text {
	top: 50%;
	font-size: 30px;
	color: #708090; 
	/* color: #000; */
	text-align:center;
	display:inline;
}
button {
	font-size: 400%;
	width:45%;
	line-height: 400%;
	border:3px solid white;
	color: white;
	border-radius: 5px;
	background-color:transparent;
	margin: 10px;
}
